body {
  margin: 0;
  padding: 0;
  font-family: 'Montserrat', sans-serif;
}

.calculator {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 50rem;
  margin: auto;
}

.column {
  background: #347B98;
  color: white;
  display: flex;
  flex-direction: column;
  border:  1px solid black;
  width: 30%;
  justify-content: space-between;
  border-radius: .7rem;
}

.courseInput, .gpaInput, .creditsInput {
  width: 10rem;
  height: 2rem;
  outline: none;
  margin: auto;
  margin-bottom: 2rem;
  padding: 12px 20px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  font-size: 1rem;
}

.buttonsDiv {
  width: 50rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: auto;
}

.button {
  width: 15rem;
  height: 2rem;
  outline: none;
  border-radius: 4px;
  margin-top: 2rem;
  font-size: 1rem;
}

#addClassButton:active {
  background: #44AF69;
  color: white;
}

#calculateButton:active {
  background: #fcab10;
  color: white;
}

#resetButton:active {
  background: #F8333C;
  color: white;
}


.gpaHeader {
  margin-top: 3rem;
}
